*{
    margin: 0;
    padding: 0;
    }
    body{
        font-family: 'Oswald', sans-serif;
    }header {
        background-color:#06155c ;
        color: rgb(221, 228, 217);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
        }
        .cabeçalho{
           
            margin:0 180px ;
            font-size: 40px;
           
            }
.cabeçalho-lista-item{
font-size: 30px;
text-align: center;
color: #565a6e;

}
.container-mt-5{
text-align: left;
color: black;
width: 80%;

}
.container-lista-item{
display: inline-block;
justify-content: space-around;
font-size: 30px;


}

.imagem-fazenda{
    width: 18%;
    font-family: 10%;
}


.imagem-haras{
    width: 18%;
}


.imagem-sitio{
    width: 18%;
}
.container-lista-texto{
justify-content: space-around;


}